.main-page-area {
  position: relative;
  padding:15px 15px 60px;
  @include media-breakpoint-up(md) {
    height: 100%;
    width: calc(100% - 300px);
    margin-left: 300px;
    padding: 25px 50px;
    background-color: $white;
  }

  .avilable-balance{
    color: $text;
    @include media-breakpoint-down(sm){
      color: $white;
    }
  }
  .balance-detail {
    display: flex;
    align-items: center;
    .badge {
      padding: 5px 10px;
      font-weight: 500;
      color: #fff;
      border-radius: 5px;
      margin: 2px 10px 0 0;
      height: 100%;
      font-size: 100%;
    }
    .balance-amount {
      font-size: 24px;
      font-weight: 700;
      @include media-breakpoint-down(sm){
        color:$white;
      }
    }
  }

  .add-new-card{
    position: relative;
    a, a:hover{
      text-decoration: none;
    }
  }
}

// simple tabs with line, under tab link with animation
.line-tabs {
  position: relative;  
  border-bottom: unset;
  margin-top: 20px;
  @include media-breakpoint-up(md){
    margin-top: 60px;
    background: $white;
  }
  .nav-tabs {
    padding: 0;
    margin: 0;
    border: unset;
    > .nav-item {
      margin-bottom: 0;
      margin-right: 15px;
      @include media-breakpoint-up(md){
        margin-right: 30px;
      }
      > .nav-link {
        position: relative;
        border: unset;
        border-radius: unset;
        padding: 0;
        padding-bottom: 10px;
        color: rgba($color: $text, $alpha: 0.3);
        @include font-size(16px);
        font-weight: 500;
        @include media-breakpoint-down(sm) {
          padding: 0.6rem 0.45rem;
          @include font-size(14px);
          color: rgba($color: $white, $alpha: .5);
        }
        &.active {
          position: relative;
          background: $white;
          color: $text;
          border: unset;
          font-weight: 600;
          &:after {
            width: 100%;
            opacity: 1;
          }
          @include media-breakpoint-down(sm) {
            background: transparent;
            padding: 0.6rem 0.45rem;
            @include font-size(14px);
            color: $white;
            font-weight: 500;
          }
        }
        &::after {
          background: $info;
          width: 0;
          height: 3px;
          display: table;
          content: "";
          -webkit-transition: all ease 0.5s;
          transition: all ease 0.5s;
          opacity: 0;
          position: absolute;
          bottom: 0;
          margin: 0 auto;
          left: 50%;
          border-radius: 4px;
          transform: translateX(-50%);
        }
        &:hover {
          &::after {
            width: 100%;
            opacity: 1;
          }
        }
      }
    }
  }
  .tab-content{
    margin-top: 15px;
    @include media-breakpoint-up(md){
      box-shadow: 0 2px 12px #00000014;
      border: 1px solid #fcfcfc;
      border-radius: 8px;
    }
  }
}

.accordion-area {
  @include media-breakpoint-down(sm){
    margin-right: -15px;
    margin-left: -15px;
    padding: 15px;
    background: $white;
  }
  .panel{
    position: relative;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    background-color: $white;
    z-index: 1;
    .panel-heading {
      position: relative;
      background: #f5f9ff;
      padding: 30px 20px;
      @include media-breakpoint-down(sm){
        padding: 20px 15px;
      }
      display: flex;
      align-items: center;
      border-radius: 8px;
      h5{
        margin-left: 10px;
        margin-bottom: 0;
        @include media-breakpoint-down(sm){
          @include font-size(16px)
        }
      }
      i {
        position: absolute;
        top: 50%;
        right: 20px;
        border: 0;
        color: #d8e1f2;
        @include font-size(26px);
        transform: translateY(-50%) rotate(0);
        transition: all ease-in-out 0.2s;
      }
      &[aria-expanded="true"]{
        i{
          transform: translateY(-50%) rotate(180deg);
        }
      }
    } 
  }  
  .more-link{
    position: relative;
    display: flex;
    background-color: rgba($color: $primary, $alpha: 0.15);
    border: 1px solid rgba($color: $primary, $alpha: 0.15);
    border-top: unset;
    padding: 22px 20px;
    align-items: center;
    justify-content: center;
    margin-top: -3px;
    z-index: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: all ease-in-out 0.2s;
    a{
      color: $primary;
      @include font-size(16px);
      font-weight: 500;
      text-decoration: none;
    }

    &:hover{
      background-color: rgba($color: $primary, $alpha: 0.3);
      a{
        text-decoration: none;
      }
    }
  }
}

.transition-list {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    position: relative;
    width: 100%;
    padding: 15px 10px;
    @include media-breakpoint-down(sm){
      padding: 15px 0;
    }
    &:nth-last-of-type(1) {
      border-bottom: transparent solid 1px;
      margin-bottom: 0;
    }
    border-bottom: $light-gray3 solid 1px;
    margin: 0 0 15px 0;
    .inner-list-content{        
      h5{
        @include font-size(18px);
        margin-bottom: 5px;
        font-weight: 600;
        @include media-breakpoint-down(sm){
          @include font-size(18px);
        }
      }
      .date {
        color: #aaaaaa;
      }
      .card-info {
        font-size: 12px;      
        margin-top: 10px;
        display: flex;
        align-items: center;
        span{
          @include font-size(14px);
          font-weight: 500;
          color: $darkblue;
          &.badge{
            margin-right: 8px;
            background-color:$darkblue;
            border-radius: 15px;
            width: 24px;
            height: 20px;
            vertical-align: middle;
          }
        }      
      }
    }
      .digit-box {
        position: relative;
        h5 {
          font-weight: 700;         
          i{
            color: $light-gray2;
            margin-left: 10px;
          }     
        }
        
      }
    .list-icon {
      width: 50px;
      height: 50px;
      border-radius: 100px;
      display: inline-block;
      background: #009DFF1A;
      text-align: center;
      line-height: 50px;
      @include media-breakpoint-down(sm){
        width: 45px;
      height: 45px;
      line-height: 45px;
      }
    }
  }
}

.show-link {
  color: #00ff80;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  &:hover {
    color: black;
  }
}

.card-area{
  position: relative;
  padding: 0;
  @include media-breakpoint-up(xxl){
    padding: 0 20px;
  }
  .show-number-toggle{
    position: relative;
    display:table;
    padding: 5px 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;        
    text-align: right;
    background: $white;
    margin-left: auto;
    &::after{
      position: absolute;
      content: '';
      width: 20px;
      height:20px;
      background: $white;
      right: 0;
      bottom: -20px;
    }
    @include media-breakpoint-up(md){
      display: block;
      padding: 10px 0;
      &::after{
        content:none
      }
    }
    a{
      text-decoration: none;
      @include font-size(13px);
      @include media-breakpoint-up(md){
        @include font-size(14px);
        font-weight: 600;
      }
    }
  }
}

.debit-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 10px;
  background: $primary;  
  color: $white;
  @include media-breakpoint-up(md){
    min-height: 250px;
    padding: 25px 20px;
    border-radius: 15px;
  }
  .card-logo {
    width: 70px;
    @include media-breakpoint-up(md){
      width: 100px;
    }
    display: block;
    margin-left: auto;
    padding-top: 5px;
    padding-bottom: 20px;
    img {
      width: 100%;
      height: auto;
    }    
  }
  .card-provider-logo{
    width: 56px;
    @include media-breakpoint-up(md){
      width: 80px;
    }
    display: block;
    margin-left: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
  .card-holder-name {
    position: relative;
    font-weight: 700;
    @include font-size(14pt);
    @include media-breakpoint-up(md){
      @include font-size(20pt);
      margin-bottom: 30px;
    }
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-align: left;
  }
  .card-number {
    position: relative;
    font-weight: 600;
    margin-bottom: 15px;
    @include font-size(9pt);
    @include media-breakpoint-up(md){
      @include font-size(12pt);
    }
    letter-spacing: 7px;
    i{
      @include font-size(10px);
      @include media-breakpoint-up(md){
        @include font-size(14px);
      }
    }
  }
  .validity, .cvv{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 15px;
    @include font-size(9pt);
    @include media-breakpoint-up(md){
      @include font-size(12pt);
    }
    font-weight: 600;
    letter-spacing: 1px;
    i{
      vertical-align: middle;
      @include font-size(10px);
      margin-top: -3px;
      @include media-breakpoint-up(md){
        @include font-size(14px);
      }
    }
  }
  &.disabled {
    background: #949494;
  }
}

.swiper-pagination{
  position: relative;
  margin-top: 15px;
  width: 100%;
  .swiper-pagination-bullet{
    margin: 0 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba($color: $primary, $alpha: 0.9);
    transition: all 0.3s ease-in-out;
    &.swiper-pagination-bullet-active{
      width: 16px;
      height: 8px;
      border-radius: 8px;
      background: $primary;
    }
  }
}

.icon-box-area {
  position: relative;
  display: block;
  background: #f5f9ff;
  text-align: center;
  border-radius: 15px;
  margin-top: 30px;
  text-align: center;
  @include media-breakpoint-down(sm){
    margin-right: -15px;
    margin-left: -15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .round-icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100%;
    color: #fff;
    background: $secondary;
    display: inline-block;
  }
  p.icon-title {
    @include font-size(13px);
    @include media-breakpoint-down(sm){
      @include font-size(12px);
      line-height: 16px;
    }
    margin-top: 10px;
    color: $secondary;
  }
}

.form-group{
  position: relative;
  .control-label{
    @include font-size(16px)
  }
  .form-control{
    height:calc(1.5em + 0.75rem + 8px)
  }
}

.confirm-modal{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 20px 30px 20px;
  .delete{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto 30px;
    border-radius: 50%;
    background-color: rgba($color: $danger, $alpha: 0.15);
    @include media-breakpoint-down(sm){
      width: 100px;
      height: 100px
    }
    i{
     @include font-size(64px);
     line-height: 200px;
     color: $danger;
     @include media-breakpoint-down(sm){
      @include font-size(36px);
      line-height: 100px;
    }
    }
  } 
  p{
    margin-bottom: 20px;
  } 
  h4{
      color: $secondary;
      @include font-size(32px);
      @include media-breakpoint-down(sm){
        @include font-size(24px);
      }
      font-weight: 700;
      color: $danger;
  }
  h6{
      color: $secondary;
      @include font-size(18px);
      @include media-breakpoint-down(sm){
        @include font-size(16px);
      }
      font-weight: 600;
      margin-bottom: 30px;

  }
}

.cursor-pointer{cursor: pointer;}