$primary:#01D167;
$secondary:#0C365A;
$white:#ffffff;
$black:#000000;

$theme-color:();
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    #00DC25,
  "info":       #24D2FF,
  "warning":    #FF8800,
  "danger":     #F20010,
  "light":      $white,
  "dark":       $black
), $theme-color);

$grid-breakpoints:(
  xs:414px,
  sm:576px,
  md:768px,
  lg:992px,
  xl:1200px,
  xxl:1440px
) !default;